- # = form_for @team do |f|
= simple_form_for [@organization, @season, @team] do |f|
  - if @team.errors.any?
    %h2= "#{pluralize(@team.errors.count, "error")} prohibited this team from being saved:"
    %ul
      - @team.errors.full_messages.each do |msg|
        %li= msg

  = f.input :name, label: "Your team name please"
  = f.input :max_members, label: "Max team members"
  %button.btn.btn-info{type: "submit"}
    = icon_tag('thumbs-up') + 'Save'


