%h1 Listing teams

%table.table.table-striped.span12
  %thead
    %tr
      %th Name
      %th Event
      %th
      %th
      %th

    - @teams.each do |team|
      %tr
        %td= team.name
        %td= team.event
        %td= link_to icon_tag("play") + 'Show', coordinator_event_teams_path(@coordinator, @event, team), class: "btn btn-primary"
        %td= link_to icon_tag("wrench") + 'Edit', edit_coordinator_event_team_path(@coordinator, @event, team), class: "btn btn-info"
        %td= link_to icon_tag("trash") + 'Destroy', coordinator_event_teams_path(@coordinator, @event, team), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"

%br

= link_to 'New Team', new_coordinator_event_team_path
