%h1 Listing teams

%table.table.table-striped.span9
  %thead
    %tr
      %th Name
      %th Event
      %th

    - @teams.each do |team|
      %tr
        %td= team.name
        %td= team.event.name
        %td.btn-group
          = link_to icon_tag("play") + 'Show', coordinator_event_team_path(@coordinator, @event, team), class: "btn btn-info"
          - if user_signed_in?
            = link_to icon_tag("wrench") + 'Edit', edit_coordinator_event_team_path(@coordinator, @event, team), class: "btn btn-info"
            = link_to icon_tag("trash") + 'Delete', coordinator_event_team_path(@coordinator, @event, team), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"

%br

= link_to icon_tag("star-empty") + 'New Team', new_coordinator_event_team_path, class: "btn btn-success" if user_signed_in?
