%p#notice= notice

%p
  %b Name:
  = @team.name
%p
  %b Event:
  = @team.event.name

= link_to icon_tag("wrench") + 'Edit', edit_coordinator_event_team_path(@coordinator, @event, @team), class: "btn btn-info"
\|
= link_to icon_tag("backward") + 'Back', coordinator_event_teams_path, class: "btn btn-primary"