%p#notice= notice

%p
  %b Name:
  = @team.name
%p
  %b Event:
  = @team.event

= link_to 'Edit', edit_coordinator_event_team_path(@coordinator, @event, @team)
\|
= link_to 'Back', coordinator_event_teams_path
