%h1 
  = @organization.name.possessive + " Season".pluralize(@seasons.count)

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Start
      %th End
      %th

  - @seasons.each do |season|
    %tr
      %td= season.name
      %td= season.start
      %td= season.end
      = render partial: 'buttons', locals: {season: season}
      
%br

= link_to icon_tag("star-empty") + 'New Season', new_organization_season_path, class: "btn btn-success" if user_signed_in?
= paginate @seasons
