%h1 Listing seasons

%table
  %tr
    %th Name
    %th Start
    %th End
    %th Members allowed
    %th Max members
    %th Teams allowed
    %th Max teams
    %th Max team size
    %th
    %th
    %th

  - @seasons.each do |season|
    %tr
      %td= season.name
      %td= season.start
      %td= season.end
      %td= season.members_allowed
      %td= season.max_members
      %td= season.teams_allowed
      %td= season.max_teams
      %td= season.max_team_size
      %td= link_to 'Show', season
      %td= link_to 'Edit', edit_season_path(season)
      %td= link_to 'Destroy', season, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Season', new_season_path
