%h1 List Seasons

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Start
      %th End
      %th

  - @seasons.each do |season|
    %tr
      %td= season.name
      %td= season.start
      %td= season.end
      %td.btn-group
        = link_to icon_tag("play") + 'Show', organization_season_path(season.organization, season), class: "btn btn-info"
        = link_to "Events", organization_season_events_path(season.organization, season), class: "btn btn-info"
        = link_to "Teams", organization_season_teams_path(season.organization, season), class: "btn btn-info"
        - if user_signed_in?
          = link_to icon_tag("wrench") + 'Edit', edit_organization_season_path(season.organization, season), class: "btn btn-info"
          = link_to icon_tag("trash") + 'Delete', organization_season_path(season.organization, season), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"
      
%br

= link_to icon_tag("star-empty") + 'New Season', new_organization_season_path, class: "btn btn-success" if user_signed_in?
= paginate @seasons
