= simple_form_for @coordinator do |f|
  - if @coordinator.errors.any?
    #error_explanation
      %h2= "#{pluralize(@coordinator.errors.count, "error")} prohibited this coordinator from being saved:"
      %ul
        - @coordinator.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name
  = f.input :about
  = f.input :location
  = f.input :contact
  .actions
    = f.submit 'Save', :class => 'btn btn-primary btn-large btn-block'
