%h1 Listing coordinators

%table
  %tr
    %th Name
    %th About
    %th Location
    %th Contact
    %th
    %th
    %th

  - @coordinators.each do |coordinator|
    %tr
      %td= coordinator.name
      %td= coordinator.about
      %td= coordinator.location
      %td= coordinator.contact
      %td= link_to 'Show', coordinator
      %td= link_to 'Edit', edit_coordinator_path(coordinator)
      %td= link_to 'Destroy', coordinator, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Coordinator', new_coordinator_path
