%p#notice= notice

%p
  %b Name:
  = @coordinator.name
%p
  %b About:
  = @coordinator.about
%p
  %b Location:
  = @coordinator.location
%p
  %b Contact:
  = @coordinator.contact

.btn-group
  = link_to icon_tag("wrench") + 'Edit', edit_coordinator_path(@coordinator), class: "btn btn-info"
  = link_to icon_tag("hand-left") + 'Back', coordinators_path, class: "btn btn-primary"
