.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Teamweb", root_url, class: "navbar-brand"  
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              = nav_link "Create Event", new_event_path
            %li
              = nav_link "Events", all_events_path
            %li
              = nav_link "Organizations", organizations_path
          %ul.nav.navbar-right
            %li.dropdown
              - if user_signed_in?
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  Account
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to edit_user_registration_path do
                      = bs_icon_tag 'eject'
                      Profile
                  %li.divider
                  %li
                    = link_to destroy_user_session_path, method: :delete do
                      = bs_icon_tag 'eject'
                      Logout
              - else
                %ul.nav.navbar-nav
                  %li
                    = link_to new_user_registration_path do
                      = bs_icon_tag 'eject'
                      Sign Up
                  %li                    
                    %i.icon-signup
                    = link_to "Login", new_user_session_path
               

    = render_breadcrumbs

-# <i class="icon-signout"></i> icon-signout