= simple_form_for @event_form, :html => {:class => 'form-horizontal' } do |f|
  - if @event_form.errors.any?
    %h2= "#{pluralize(@event_form.errors.count, "error")} prohibited this event from being saved:"
    %ul
      - @event_form.errors.full_messages.each do |msg|
        %li= msg

  = f.input :name, label: "Name for this event"
  = f.input :location, label: "Location of event"
  = f.input :about, label: "Describe the event", as: :text, input_html: { class: "wysihtml5"}
  = f.input :start, as: :string, input_html: { type: "date"}
  = f.input :end, as: :string, input_html: { type: "date" }

  = f.input :season_name
  = f.input :season_start
  = f.input :season_end
  = f.input :members_allowed
  = f.input :max_members
  = f.input :teams_allowed
  = f.input :max_teams
  = f.input :max_team_size

  = f.input :org_name
  = f.input :org_about, as: :text, input_html: { class: "wysihtml5"}
  = f.input :org_location
  = f.input :contact

  .actions
    %button.btn.btn-info{type: "submit"}
      = icon_tag('thumbs-up') + 'Save'