= simple_form_for [@organization, @season, @event] do |f|
  - if @event.errors.any?
    %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
    %ul
      - @event.errors.full_messages.each do |msg|
        %li= msg

  = f.input :name, label: "Name for this event"
  = f.input :location, label: "Location of event"
  = f.input :about, label: "Describe the event", as: :text, input_html: { class: "wysihtml5"}
  = f.input :start, as: :string, input_html: { type: "date"}
  = f.input :end, as: :string, input_html: { type: "date" }

  .actions
    %button.btn.btn-info{type: "submit"}
      = icon_tag('thumbs-up') + 'Save'