= simple_form_for [@organization, @event], :html => {:class => 'form-horizontal' } do |f|
  - if @event.errors.any?
    %h2= "#{pluralize(@event.errors.count, "error")} prohibited this team from being saved:"
    %ul
      - @event.errors.full_messages.each do |msg|
        %li= msg

  = f.input :name, label: "Name for this event"
  = f.input :location, label: "Location of Event"
  = f.input :about, label: "Describe the event"
  = f.input :start, as: :string, input_html: { type: "date"}
  = f.input :end, as: :string, input_html: { type: "date" }
  = f.input :members_allowed, label: "Members Allowed", hint: "Can users join the event without a team?", input_html: { :'data-hide' => '.event_max_members'}
  = f.input :max_members, label: "Maximum members", input_html: { :'data-maxable' => 'no-max'}
  = f.input :teams_allowed, label: "Teams Allowed", hint: "Can users create teams?"
  = f.input :max_teams
  = f.input :max_team_size

  .actions
    %button.btn.btn-info{type: "submit"}
      = icon_tag('thumbs-up') + 'Save'