= simple_form_for [@coordinator, @event] do |f|
 = f.input :name, label: "Name for this event"
 = f.input :location, label: "Location (place to be)"
 = f.input :about, label: "Describe the event"
 = f.input :start
 = f.input :end
 .actions
  = f.submit 'Save'