%h1 
  = @organization.name + pluralize(@events.count, 'Event')

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Location
      %th Start
      %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.location
      %td= event.start.try(:format_like, "Jan 1st")
      = render partial: 'buttons', locals: {event: event}

%br

= link_to icon_tag("star-empty") + 'New Event', new_organization_event_path, class: "btn btn-success" if user_signed_in?
= paginate @events
