%h1 Listing events

%table.table.table-striped.span12
  %thead
    %tr
      %th Name
      %th Coordinator
      %th Location
      %th Start
      %th
      %th
      %th
      %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.coordinator.name
      %td= event.location
      %td= event.start.try(:strftime, "%B %Y")
      %td= link_to icon_tag("play") + 'Show', coordinator_event_path(event.coordinator, event), class: "btn btn-primary"
      %td= link_to icon_tag("flag") + 'Teams', coordinator_event_teams_path(event.coordinator, event), class: "btn btn-info"
      %td= link_to icon_tag("wrench") + 'Edit', edit_coordinator_event_path(event.coordinator, event), class: "btn btn-info"
      %td= link_to icon_tag("trash") + 'Destroy', coordinator_event_path(event.coordinator, event), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"

%br

= link_to icon_tag("star-empty") + 'New Event', new_coordinator_event_path, class: "btn btn-success"
