%h1 Listing events

%table
  %tr
    %th Name
    %th About
    %th Coordinator
    %th Location
    %th Start
    %th End
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.about
      %td= event.coordinator
      %td= event.location
      %td= event.start
      %td= event.end
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
