%h1 Listing events

%table
  %tr
    %th Name
    %th About
    %th Coordinator
    %th Location
    %th Start
    %th End
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.about
      %td= event.coordinator
      %td= event.location
      %td= event.start
      %td= event.end
      %td= link_to 'Show', coordinator_event_path(event.coordinator, event), class: "btn btn-primary"
      %td= link_to 'Teams', coordinator_event_teams_path(event.coordinator, event), class: "btn btn-info"
      %td= link_to 'Edit', edit_coordinator_event_path(event.coordinator, event), class: "btn btn-info"
      %td= link_to 'Destroy', coordinator_event_path(event.coordinator, event), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"

%br

= link_to 'New Event', new_coordinator_event_path
