%h1 All Events 

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th.hidden-xs Organization
      %th Location
      %th Start
      %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td.hidden-xs= link_to event.season.name, organization_seasons_path(event.season.organization)
      %td= event.location
      %td= event.start.try(:format_like, "Jan 1st")
      = render partial: 'buttons', locals: {event: event}

%br
= paginate @events
