%h1 All Events 

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Organization
      %th Location
      %th Start
      %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= link_to event.organization.name, organization_events_path(event.organization)
      %td= event.location
      %td= event.start.try(:format_like, "Jan 1st")
      = render partial: 'buttons', locals: {event: event}

%br
= paginate @events
