%p
  %b Name:
  = @event.name
%p
  %b About:
  = @event.about
%p
  %b Coordinator:
  = @event.coordinator.name
%p
  %b Location:
  = @event.location
%p
  %b Start:
  = @event.start
%p
  %b End:
  = @event.end

.btn-group
  = link_to icon_tag("hand-left") + 'Back', coordinator_events_path, class: "btn btn-primary"
  = link_to icon_tag("wrench") + 'Edit', edit_coordinator_event_path(@event.coordinator, @event), class: "btn btn-info"
  