%h1
  = @event.name
.span7{style: "min-height:450px;"}
  .span4
    %p
      %strong About:
      = @event.about
    %p
      %strong Start:
      = @event.start.try(:format_like, "Jan 1st 2000")
    %p
      %strong End:
      = @event.end.try(:format_like, "Jan 1st 2000")
  .span2.well
    %p
      %strong Total Teams:
      = @event.teams.count
      %br/
      = link_to icon_tag("flag") + 'View Teams', organization_event_teams_path(@event.organization, @event), class: "btn btn-info" if @event.teams.count > 0
  %h4{style: "clear: left;"}
    %strong Event Details
  %p
    = LiterateRandomizer.paragraphs(paragraphs: 4)
.span3
  = gmaps4rails(@maps_json)
  %p
    %strong Location
    = @event.location
.well.span4
  %h4 Organization info
  %p
    %strong
      = @coordinator.name
  %p
    = @coordinator.about
  %p
    = @coordinator.contact
.span12
  .btn-group
    = link_to icon_tag("hand-left") + 'Back', organization_events_path, class: "btn btn-primary"
    = link_to icon_tag("wrench") + 'Edit', edit_organization_event_path(@event.organization, @event), class: "btn btn-info"
