%h1
  = @event.name
.span7{style: "min-height:450px;"}
  .span4
    %p
      %strong About:
      = @event.about
  .span2.well
    %p
      %strong Start Date:
      = @event.start.try(:format_like, "Jan 1st 2000")
    %p
      %strong End Date:
      = @event.end.try(:format_like, "Jan 1st 2000")
  %h4{style: "clear: left;"}
    %strong Event Details

  / Details with tabs
  %ul.nav.nav-tabs#eventTab
    %li.active
      = link_to "Info", "#info", :'data-toggle' => 'tab'
    %li
      = link_to "Teams", "#teams", :'data-toggle' => 'tab'
    %li
      = link_to "Members", "#members", :'data-toggle' => 'tab'
  .tab-content#eventTabContent
    .tab-pane.fade.in.active#info
      = LiterateRandomizer.paragraphs(paragraphs: 4)
    .tab-pane.fade#teams 
      %strong Total Teams:
      = @event.teams.count
      %br/
      = link_to icon_tag("flag") + 'View Teams', organization_event_teams_path(@event.organization, @event), class: "btn btn-info" if @event.teams.count > 0    
    .tab-pane.fade#members 
      Member info Goes here

/ Map    
.span4
  = gmaps4rails(@maps_json)
  %p
    %strong Location
    = @event.location

/ Organization Info
.well.span4
  %h4 Organization info
  %p
    %strong
      = @organization.name
  %p
    = @organization.about
  %p
    = @organization.contact

/ Button bar
.span12
  .btn-group
    = link_to icon_tag("hand-left") + 'Back', organization_events_path, class: "btn btn-primary"
    = link_to icon_tag("wrench") + 'Edit', edit_organization_event_path(@event.organization, @event), class: "btn btn-info"
    = link_to 'Add me to event', add_user_organization_event_path(@organization, @event), class: "btn btn-info"
