%h1
  = @event.name
.span7{style: "min-height:450px;"}
  .span4
    %p
      %strong About:
      = @event.about
  .span2.well
    %p
      %strong Start Date:
      = @event.start.try(:format_like, "Jan 1st 2000")
    %p
      %strong End Date:
      = @event.end.try(:format_like, "Jan 1st 2000")
  %h4{style: "clear: left;"}
    %strong Event Details

  = render 'tab_details'

/ Map    
.span4
  = gmaps4rails(@maps_json)
  %p
    %strong Location
    = @event.location

/ Organization Info
.well.span3
  %h4 Organization info
  %p
    %strong
      = @organization.name
  %p
    = @organization.about
  %p
    = @organization.contact

/ Button bar
.span12
  .btn-group
    = link_to icon_tag("hand-left") + 'Back', organization_events_path, class: "btn btn-primary"
    = link_to icon_tag("wrench") + 'Edit', edit_organization_event_path(@event.organization, @event), class: "btn btn-info"
    = link_to 'Add me to event', add_user_organization_event_path(@organization, @event), class: "btn btn-info"
