<h2>Sign in</h2>

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|

  = f.input :email, :required => false, :autofocus => true
  = f.input :password, :required => false
  = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?

  .actions
    %button.btn.btn-primary{type: "submit"}
      = icon_tag('hand-right') + 'Sign in'
    = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary"

= render "devise/shared/links"
