%h2 Sign in

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|

  = f.input :email, :required => false, :autofocus => true
  = f.input :password, :required => false
  = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?

  .actions
    %button.btn.btn-primary{type: "submit"}
      = icon_tag('hand-right') + 'Sign in'
    = link_to icon_tag('user') + "Use Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary"
    - if Rails.env.development?
      .alert 
        %h4 Developer Note
        If you can see this message, Facebook Login will not work.  Only the root URL 
        %strong teamweb.herokuapp.com 
        and Prod's Secret key will function.

= render "devise/shared/links"
