.clearfix
- if Rails.env.development?
  .alert.alert-info.clearfix
    %h4 Developer Note
    If you can see this message, Facebook Login will not work.  Only the root URL 
    %strong teamweb.herokuapp.com 
    and Prod's Secret key will function.
%h2 Sign in
.col-md-7
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|

    = f.input :email, :required => false, :autofocus => true
    = f.input :password, :required => false
    = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?

    .actions
      %button.btn.btn-primary{type: "submit"}
        = bs_icon_tag('hand-right') + 'Sign in'
  = render "devise/shared/links"
.col-md-3.well.facebook
  %p You can sign in any of the following services
  = link_to image_tag("facebook.png") + "Facebook Login", user_omniauth_authorize_path(:facebook), class: "btn"

