%p
  %b Name:
  = @coordinator.name
%p
  %b About:
  = @coordinator.about
%p
  %b Location:
  = @coordinator.location
%p
  %b Contact:
  = @coordinator.contact

.btn-group
  = link_to icon_tag("hand-left") + 'Back', organizations_path, class: "btn btn-primary"
  = link_to icon_tag("wrench") + 'Edit', edit_organization_path(@coordinator), class: "btn btn-info"
  
