= simple_form_for @organization, :html => {:class => 'form-horizontal' } do |f|
  - if @organization.errors.any?
    %h2= "#{pluralize(@organization.errors.count, "error")} prohibited this organization from being saved:"
    %ul
      - @organization.errors.full_messages.each do |msg|
        %li= msg

  = f.input :name
  = f.input :about
  = f.input :location
  = f.input :contact
  .actions
    %button.btn.btn-info{type: "submit"}
      = icon_tag('thumbs-up') + 'Save'