= simple_form_for @organization do |f|
  - if @organization.errors.any?
    %h2= "#{pluralize(@organization.errors.count, "error")} prohibited this organization from being saved:"
    %ul
      - @organization.errors.full_messages.each do |msg|
        %li= msg

  = f.input :name
  = f.input :about, label: "Describe the event", as: :text, input_html: { class: "wysihtml5"}
  = f.input :location
  = f.input :contact
  .actions
    %button.btn.btn-info{type: "submit"}
      = icon_tag('thumbs-up') + 'Save'