%h1 Organizations

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Location
      %th Contact
      %th

  - @organizations.each do |org|
    %tr
      %td= org.name
      %td= org.location
      %td= org.contact
      %td.btn-group
        = link_to icon_tag("play") + 'Show', org, class: "btn btn-info"
        = link_to icon_tag("calendar") + 'Events', organization_events_path(org), class: "btn btn-info"
        - if user_signed_in?
          = link_to icon_tag("wrench") + 'Edit', edit_organization_path(org), class: "btn btn-info"
          = link_to icon_tag("trash") + 'Delete', org, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"

%br

= link_to icon_tag("star-empty") + 'New Organization', new_organization_path, class: "btn btn-success" if user_signed_in?
