%p
  %b Name:
  = @organization.name
%p
  %b About:
  = @organization.about
%p
  %b Location:
  = @organization.location
%p
  %b Contact:
  = @organization.contact

.btn-group
  = link_to icon_tag("hand-left") + 'Back', organizations_path, class: "btn btn-primary"
  = link_to icon_tag("wrench") + 'Edit', edit_organization_path(@organization), class: "btn btn-info"
  
